@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");

body {
  background-color: #d0fffd;
}

.container {
  margin: 0 auto;
  padding: 40px;
}

h1 {
  text-align: center;
  color: #ff4c79;
}

.wrapper {
  margin: 20px;
  padding: 25px 30px;
  border-radius: 50px;
  box-shadow: 1px 1px 32px -9px rgb(29, 37, 36);
  font-family: "Signika Negative", sans-serif;
  background-color: azure;
}

.nav-link {
  color: #ab47bc;
}

.nav-link:hover {
  background-color: rgb(171, 71, 189, 0.3);
  color: #ff4c79;
  font-weight: 700;
}

.nav-link.active {
  text-decoration: none;
}

.nav-link:active,
.nav-link:focus {
  color: #ab47bc;
  font-weight: 700;
  background-color: rgb(255, 76, 121, 0.5);
}

.current-weather {
  margin: 10px;
  padding: 15px 55px;
  padding-bottom: 25px;
  max-width: 30%;
  border-radius: 70px;
  background-color: #fbe8ed;
}

.current-weather-city {
  margin: 0;
  color: #fdd14f;
  line-height: 1.5;
}

.current-weather p {
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
  color: #6fd5d2;
}

.temperature {
  display: flex;
  gap: 10px;
  color: #fdd14f;
}

.temperature-value {
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
  color: #6fd5d2;
}

.temperature-celcius,
.temperature-fahrenheit {
  line-height: 1.5;
  font-size: 14px;
  cursor: pointer;
}

.wrapper .temperature a:hover {
  text-decoration: underline;
}

.current-weather-emoji {
  font-size: 25px;
}

.input-group {
  margin: 25px 0px;
}

.form-control {
  border: 1px solid #6fd5d2;
  background-color: azure;
}

.form-control::placeholder {
  color: #fdd14f;
  opacity: 0.5;
  font-style: italic;
}

#button-addon2 {
  color: #fdd14f;
  border-color: #6fd5d2;
}

#button-addon2:hover {
  background-color: #6fd5d2;
  font-weight: 700;
  transition: all 200ms ease-in-out;
}

.card:not(:last-child) {
  margin-right: 20px;
}

.card {
  border: none;
  background-color: azure;
}

.card-body {
  border: 1px solid #ff4c79;
  box-shadow: 1px 1px 22px -9px rgb(253, 201, 223);
  border-radius: 44%;
  text-align: center;
}

.card-title {
  color: #ab47bc;
}

.card-text {
  font-size: 40px;
}

.degree {
  font-size: 18px;
  color: #ab47bc;
}
